name: version
on:
  workflow_dispatch:
    inputs:
      type:
        description: 'Release Type'
        required: true
        default: 'patch'
        type: choice
        options:
          - major
          - minor
          - patch
jobs:
  version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Set Git user
        run: |
          git config user.name 'github-actions[bot]'
          git config user.email '41898282+github-actions[bot]@users.noreply.github.com'
      - run: npm version ${{ github.event.inputs.type }}
      - run: git push --follow-tags
      - run: echo "VERSION=$(npm pkg get version --workspaces=false | xargs)" >> $GITHUB_ENV
      - run: echo "LAST_MINOR=$((npm --silent info @fbtmp/versiontest2 version || echo '0.0.0') | cut -d '.' -f 2)" >> $GITHUB_ENV
      - run: echo "major ${VERSION%%.*}"
      - if: github.ref == format('refs/heads/{0}', github.event.repository.default_branch)
        run: echo "on default branch"
      - if: startsWith(VERSION, '1.')
        run: echo "major starts with 1."
      - run: gh release create v$VERSION -d --generate-notes -t $VERSION
        env:
          GH_TOKEN: ${{ github.token }}
