name: version
on:
  workflow_dispatch:
    inputs:
      type:
        description: 'Release Type'
        required: true
        default: 'patch'
jobs:
  version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
      - name: Set Git user
        run: |
          git config user.name 'github-actions[bot]'
          git config user.email '41898282+github-actions[bot]@users.noreply.github.com'
      - run: npm version ${{ github.event.inputs.type }}
      - run: git push https://github-actions[bot]:${GH_PAT}@github.com/${{ github.repository }}.git --all --follow-tags
        env:
          GH_PAT: ${{ secrets.GH_PAT }}
      - run: echo "VERSION=$(npm -s run env echo '$npm_package_version')" >> $GITHUB_ENV
      - name: Create Release Notes
        uses: actions/github-script@v5
        with:
          script: |
            await github.request(`POST /repos/${{ github.repository }}/releases`, {
              draft: true,
              generate_release_notes: true,
              name: "${{ env.VERSION }}"
              tag_name: "v${{ env.VERSION }}"
            });
